body, html{
    max-width: 2400px;
    overflow-x: hidden;
    font-family: 'Nexa', sans-serif;
    margin: 0;
    padding: 0;
}

/* What is ISEF? */
.what_is_isef{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.isef_text{
    width: 50%;
}

.isef_text{ 
    margin: 10px;
}

.isef_hero{
    width: 50%;
    height: 350px;
    border: 1px solid black;
}

/* Our Event */
.our_event{
    padding: 20px;
}

.our_event_header{
    text-align: center;
    margin-bottom: 20px;
}

.our_event_flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.events div{
    width: 250px;
    height: 300px;
    border: 1px solid black;
}

/* About XdHacks */

.about_us{
    width: 100%;
    background: #9D9FFF;
    height: 700px;
}