<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISEF | XdHacks Mini</title>
    <link rel="stylesheet" href="/ISEF/static/css/styles.css">
    <link href="http://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet">
    <script defer src="/ISEF/static/js/app.js"></script>

<body>
    <!-- What is ISEF? -->
    <!-- <section class="what_is_isef">
        <div class="isef_text">
            <h1> XdHacks Mini at Regeneron ISEF 2022 </h1>
            <p> XdHacks Mini will be heading to the 2022 Regeneron International Science and Engineering Fair (ISEF)
                taking place in Atlanta, Georgia, between May 7 and 13. XdHacks Mini is partnering with ISEF to come
                together for a day of exciting events, activities, and workshops. The theme will be climate change, as
                this is undoubtedly the most pressing issue that youth face today.</p>
            <button class="learn-more" onclick="window.location.href='https://www.societyforscience.org/isef/'"> Learn More</button>
        </div>
        <div class="isef_hero">
            <div class="block"> </div>
            <img src="/ISEF/static/images/hero.jpeg" alt="" />
        </div>
    </section> -->

    <section class="what_is_isef"> 
        <div class="isef_text">
            <h1> XdHacks Mini at Regeneron ISEF 2022 </h1>
            <p> XdHacks Mini will be heading to the 2022 Regeneron International Science and Engineering Fair (ISEF)
                taking place in Atlanta, Georgia, between May 7 and 13. XdHacks Mini is partnering with ISEF to come
                together for a day of exciting events, activities, and workshops. The theme will be climate change, as
                this is undoubtedly the most pressing issue that youth face today.</p>
           <div class="btn-div">  <button class="learn-more" onclick="window.location.href='https://www.societyforscience.org/isef/'"> Learn More</button> </div>
        </div>
        <div class="isef_hero">
            <div class="block"> </div>
            <img src="/ISEF/static/images/hero.jpeg" alt="" />
        </div>
    </section>
    <!-- The events at ISEF -->
    <section class="our_event">
        <div class="our_event_header">
            <h1> About XdHacks Mini </h1>
            <p> Founded in 2019, our non-profit started in Vancouver, BC with a founding group of highschool students. After a successful event at UBC, XdHacks Mini transitioned to other cities to encourage youth to take up STEM in their local communities. 
                Over the past 3 years, XdHacks Mini has developed into the largest single collection of high school hackathons globally. The organization boasts over 50 high school students managing 7 regional rounds with another 15 high-school and university students running the core organization.</p>
        </div>
        <div class="our_event_flex">
            <div class="events">
                <img src="/ISEF/static/images/xdhacksmini_van_square.jpg" />
                <p> XdHacks Mini Vancouver 2019 Hackathon Awards Ceremony</p>
            </div>
            <div class="events">
                <img src="/ISEF/static/images/hackathon_pic.jpg" />
                <p> Participants working hard and getting support to create impactful projects </p>
            </div>
            <div class="events">
                <img src="/ISEF/static/images/My project.jpg" />
                <p> Special guest speakers for various topics including coding, pitching and university </p>
            </div>
        </div>
    </section>

    <!-- About XdHacks Mini -->
    <section class="about_us">
        <div class="about_us_header">
            <h1> The ISEF Experience </h1>
            <p> The Regeneron International Science and Engineering Fair (ISEF) is the world’s largest pre-college
                celebration of science, held annually in the United States. Each May, over 1,700 students from more than
                70 countries and territories compete for over $4 million in awards, including one $75,000 prize, and two
                $50,000 prizes. Reneneron ISEF 2022 Finalists are selected from their respective regional, district,
                state, and country ISEF affiliated fairs. </p>
        </div>

        <div class="image-grid">
            <img class="image-grid-col-2" src="/ISEF/static/images/img5.jpg">
            <img src="/ISEF/static/images/img12.jpg">
            <img class="image-grid-row-2" src="/ISEF/static/images/img14.jpg">
            <img src="/ISEF/static/images/img7.jpg">
            <img class="image-grid-col-2" src="/ISEF/static/images/img8.jpg">
        </div>

    </section>

    <!-- <section class="about_xd">
        <div class="about_us_header">
            <h1> XdHacks Mini X ISEF </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit tincidunt nulla tempor
                suscipit. Phasellus ac libero sapien. </p>
        </div>
        <div class="about_inner">
            <div class="circle"> </div>
            <div class="circle2"> </div>
            <embed src="/ISEF/static/images/421-1324-1-PB.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf"
                width="45%" height="550px" />
            <video width="40%" height="400px" controls>
                <source src="https://www.youtube.com/watch?v=sZJrcOfBaNY">
            </video>
        </div>
    </section> -->

    <!-- ISEF Schedule  -->
    <section class="isef_schedule_div">
        <div class="schedule">
            <div class="schedule_header">
                <h1> Event Schedule </h1>
                <p> Official Schedule for International Science Engineering Fair 2022</p>
            </div>
            <div class="section_1">
                <div class="section_inner">
                    <div> <strong> Friday, April 29th - </strong> Registration Closes (Sign up through ISEF) </div>
                    <div> <strong> Sunday, May 8th - </strong> Workshop (TBA) </div>
                    <div> <strong> Thursday, May 12th at 1pm - </strong> Opening Ceremony / Keynote </div>
                    <div> <strong> Thursday, May 12th at 4:40pm - </strong> Activity </div>
                </div>

                <div class="section_image"> <img src="/ISEF/static/images/hexagons3.png"> </div>
            </div>
    </section>

    <section class="isef_schedule_div2">
            <div class="section_2">
                <div class="section_inner">
                    <div> <strong> Thursday, May 12th at 5pm - </strong> In-person Component Ends </div>
                    <div> <strong> Thursday, May 12th, at 12 midnight - </strong> Submissions Close</div>
                    <div> <strong> May 12th ~ 15th - </strong> Initial Judging </div>
                    <div> <strong> Saturday, May 21st - </strong> Winners Announced </div>
                </div>
        
                <div class="section_image_2"> <img src="/ISEF/static/images/hexagons1.png"> </div>
            </div>
    </section>

</body>

</html>