<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISEF | XdHacks Mini</title>
    <link rel="stylesheet" href="/ISEF/static/css/styles.css">
    <link href="http://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet">
    <script defer src="/ISEF/static/js/app.js"></script>

<body>
    <!-- What is ISEF? -->
    <section class="what_is_isef">
        <div class="isef_text">
            <h1> What is ISEF? </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis nibh vel dui fringilla ornare quis
                vel leo. Nulla egestas est porttitor sagittis pulvinar. Etiam vel libero convallis, vestibulum mi sit
                amet, pharetra justo. Integer magna dolor, finibus a porttitor maximus, elementum in risus. Vestibulum
                fermentum est condimentum libero ornare, interdum viverra lacus lacinia.</p>
            <button class="learn-more"> Learn More </button>
        </div>
        <div class="isef_hero"> 
            <div class="block"> </div>
            <img src="/ISEF/static/images/hero.jpeg" alt=""/> 
        </div>
    </section>

    <!-- The events at ISEF -->
    <section class="our_event">
        <div class="our_event_header">
            <h1> Our Event </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit tincidunt nulla tempor
                suscipit. Phasellus ac libero sapien. </p>
        </div>
        <div class="our_event_flex">
            <div class="events">
                <img src="/ISEF/static/images/img1.jpg"/> 
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit tincidunt nulla tempor
                    suscipit. Phasellus ac libero sapien.</p>
            </div>
            <div class="events">
                <img src="/ISEF/static/images/img13.jpg"/> 
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit tincidunt nulla tempor
                    suscipit. Phasellus ac libero sapien.</p>
            </div>
            <div class="events">
                <img src="/ISEF/static/images/img10.jpg"/> 
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit tincidunt nulla tempor
                    suscipit. Phasellus ac libero sapien.</p>
            </div>
        </div>
    </section>

    <!-- About XdHacks Mini -->
    <section class="about_us">
        <div class="about_us_header">
            <h1> The ISEF Experience </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit tincidunt nulla tempor
                suscipit. Phasellus ac libero sapien. </p>
        </div>

        <div class="image-grid">
            <img class="image-grid-col-2" src="/ISEF/static/images/img5.jpg">
            <img src="/ISEF/static/images/img12.jpg">
            <img class="image-grid-row-2" src="/ISEF/static/images/img14.jpg">
            <img src="/ISEF/static/images/img7.jpg">
            <img class="image-grid-col-2" src="/ISEF/static/images/img8.jpg">
          </div>
    </section>

    <!-- ISEF Schedule  -->
    <section class="isef_schedule_div">
        <div class="schedule_header">
            <h1> Event Schedule </h1>
            <p> Official Schedule for International Science Engineering Fair 2022</p>
        </div>
        <div class="schedule">
            <div class="section_1">
                <div class="section_inner">
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                </div>

                <div class="section_image">  <img src="/ISEF/static/images/hexagons3.png"> </div>
            </div>

            <div class="section_2">
                <div class="section_inner">
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                </div>

                <div class="section_image_2"> <img src="/ISEF/static/images/hexagons1.png"> </div>
            </div>
        </div>
    </section>

</body>

</html>